<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agentes</ion-title>
  </ion-toolbar>
</ion-header>
<ng-template #noAgents>
  <p>No se encontraron agentes.</p>
</ng-template>

<ion-content class="ion-padding">
  <ion-list *ngIf="agents.length > 0; else noAgents">
    <ion-item *ngFor="let agent of agents">
      <ion-card *ngIF="agent.isPlayableCharacter ==true">
        <ion-card-title>
          {{ agent.displayName }}
        </ion-card-title>
        <img src="{{ agent.fullPortrait }}" alt="">
        <ion-card-content>
          {{ agent.description }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
