<!-- src/app/pages/home/home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Valorant Agents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="agents.length > 0; else noAgents">
    <ion-item *ngFor="let agent of agents">
      <ion-label>
        <ion-card *ngIf="agent.isPlayableCharacter ==true">
          <ion-title style="text-align: center; color: aliceblue;">{{ agent.displayName }}</ion-title>
          <img src="{{ agent.fullPortrait }}" alt="">
          <p>{{ agent.description }}</p>
          <p *ngFor="let habilidades of agent.abilities">
            {{ habilidades.displayName }}
          </p>
        </ion-card>
        
      </ion-label>
      
    </ion-item>
  </ion-list>

  <ng-template #noAgents>
    <p>No se encontraron agentes.</p>
  </ng-template>
</ion-content>
