ion-content{
    --background: #674a38;
    --padding-top: var(--ion-safe-area-top,10);
    --padding-bottom: var(--ion-safe-area-bottom,10);
    text-align: center;
}

ion-toolbar{
    --background: #674a38;
    display: flex;
    justify-content: space-between;
}

.toolbar-item {
display: inline-flex;
}
.item1{
    padding: 5px;
}

.tittle{
    padding: 0;
    font-family: LinSamLin;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    color: #d4ad86;
}