ion-card, ion-item{
    --background: rgb(236, 227, 227);
    text-align: center;
}
ion-avatar{
    width: 200px;
    height: 150px;
    --border-radius:15px;
    margin: 0 auto;
}
ion-card-title{
    color: #FFA500;
    font-family: poppins-semiboldItalic;
    
}
ion-card-subtitle{
    margin-bottom: 15px;
}
ion-content {
    --background:#1C1C1C; 
}
ion-card{
    margin-bottom: 20px;
}

//CLASES
.button{
    --background: #FF4655;
}
.image-icon{
    font-size: 100px;
    opacity: 30%;
    color: white;
}