<app-header  backButton="/tabs/perfil" title="LineUps"></app-header>

<ion-content class="ion-padding">




  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()">

    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <ion-icon class="image-icon"  name="image-outline"></ion-icon>
    <br>

    <ion-button (click)="takeImage()" shape="round">
      Selecciona/Toma
    </ion-button>



    <!--Nombre lineup-->
    <app-custon-input 
    [control]="form.controls.name"
    type="text"
    label="Nombre"
    ></app-custon-input>

    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">El campo es Requerido</div>
      <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe tener minimo 4 Caracteres</div>
    </div>


    <!--Descripcion lineup-->
    <app-custon-input 
    [control]="form.controls.description"
    type="text"
    label="Descripcion"
    ></app-custon-input>

    <div class="validators" *ngIf="form.controls.description.errors && form.controls.description.touched">
      <div *ngIf="form.controls.description.errors?.['required']">El campo es Requerido</div>
      <div *ngIf="form.controls.description.errors?.['minlenght']">La Descripcion debe tener minimo 4 Caracteres</div>
    </div>

    <ion-button  mode="ios" class="ion-margin" type="submit" >
      Agregar Lineup
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>
</ion-content>