.input_login{margin-bottom: 10px; border-bottom-right-radius: 20px; border-top-left-radius: 15px;
}

@font-face {
    font-family: 'LinSamLin';
    font-style: normal;
    font-weight: normal;
    src: local('LinSamLin'), url('/hs/src/assets/fonts/LinSamLin.woff') format('woff');
}
