<ion-header>
  <ion-toolbar>
    <ion-title class="tittle">
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="start-img" alt="Login" src="assets/img/House.png" />
  <ion-card class="home-card">
    <ion-card-content>
    <ion-item class="input_login" id="input_user">
      <ion-input maxlength="20" label="Usuario" labelPlacement="floating" [(ngModel)]="login.username" ></ion-input>
    </ion-item>
      
    <ion-item class="input_login" id="input_">
      <ion-input maxlength="15" label="Password" labelPlacement="floating" type="password" [(ngModel)]="login.password" ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="ingresar()">Iniciar Sesión</ion-button>
    <ion-button expand="block" [routerLink]="'/registro'" >Registrarse</ion-button>
    
    </ion-card-content>
  </ion-card>
</ion-content>