<app-header title="Agentes"></app-header>
<div *ngIf="isLoading" class="loading-overlay">
  <img src="../../../assets/imgs/loadinggif.gif" alt="">
</div>

<ng-template #noAgents>
  <p>No se encontraron agentes.</p>
</ng-template>

<ion-content class="ion-padding">

  <div  *ngIf="!isLoading">
  <ion-list *ngIf="agents.length > 0; else noAgents" >
    <ion-item *ngFor="let agent of agents">
      <ion-card *ngIf="agent.isPlayableCharacter == true" class="agent-card">
          <div class="img-container">
            <div class="background" 
                [ngStyle]="{ 
                  'background-image': 'url(' + agent.background + ')', 
                  'background-size': 'cover', 
                  'opacity': '0.2' 
                }">
            </div>
            <img src="{{ agent.fullPortrait }}" alt="{{ agent.displayName }}" class="agent-img" />
          </div>
        

        <div class="text-content">
          <ion-card-title>
            {{ agent.displayName }}
          </ion-card-title>
          <ion-card-content>
            {{ agent.description }}
          </ion-card-content>
          <ion-button expand="block" class="button">mas info</ion-button>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</div>
  
  <ion-input></ion-input>
</ion-content>
