//GIF
.loading-overlay {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
    z-index: 9999;
    
    flex-direction: column;
    color: #FFA500;
    }

    .fade-out {
        opacity: 0;
        transition: opacity 1s ease-in;
    }

    .fade-in {
        opacity: 1;
    }


    .loading-overlay h1 {
        margin-bottom: 100px; /* Ajusta el margen según sea necesario */
        font-family: montserrat-bold;
    }

    .loading-overlay img {
    width: 80%;
    height: 40%;
    object-fit: cover;
    border-radius: 150px;
    margin-left: -50px;
    } 
//FIN GIF

ion-content, ion-header{text-align: center;}
ion-content {
    --background: url('../../../assets/imgs/Cuadrados2.jpg') no-repeat center center / cover;
    font-family: opensans-regular;
    }

ion-card{
    --background: rgb(236, 227, 227);
}
.pjRandom-img{
    height: 35%;
    margin-bottom: 50px;
}
.input{
    margin-bottom: 20px;
    font-family: poppins-semiboldItalic;
}

.button{
    margin-bottom: 20px;
    --background: #FF4655;
}
ion-card-title{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: montserrat-bold;
}


.card-container {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Alinea verticalmente */
  }
.card-container ion-card-title {
    flex-grow: 1; /* Hace que el título ocupe más espacio */
  }
  

  
  ion-card-subtitle {
    font-size: 0.8em; /* Ajusta el tamaño del subtítulo */
    color: gray; /* Opcional: Cambia el color del subtítulo */
  }
.racha{
    text-align: end;
    padding: 10px;
    font-family: poppins-semiboldItalic;
    color: #FF4655;
}