ion-content, ion-header{text-align: center;}
ion-content {
    --background: url('../../../assets/imgs/Cuadrados2.jpg') no-repeat center center / cover;

  }
.pjRandom-img{
    height: 325px;
    margin-bottom: 50px;
}
.input{
    margin-bottom: 20px;
}

.button{
    margin-bottom: 20px;
}
ion-card-title{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 30px;
    

}