<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MINIJUEGO</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="isLoading" id="loadingGif" class="fade-out">
  <img src="../../../assets/imgs/loadinggif.gif" alt="Loading">
</div>


<ion-content class="ion-padding" >

    <div *ngIf="!isLoading">
    <ion-card class="personaje"  *ngIf="pjRandom" >

        <ion-card-subtitle class="racha">RACHA : {{ racha }}</ion-card-subtitle>
        <ion-card-title>Resultado : {{ msg }}</ion-card-title>
        
      
      <ion-card-content>
        <img src="{{ pjRandom.imgUrl }}" class="pjRandom-img" />
        <ion-input [clearOnEdit]="true" class="input" [disabled]="isButtonDisabled" label="Ingrese su personaje" label-placement="floating" fill="outline" placeholder="Nombre" [(ngModel)]="nombrepj" ></ion-input>
        <ion-button class="button" [disabled]="isButtonDisabled" expand="block" (click)="enviarDatosJuego()">verificar</ion-button>
        <ion-card-title>Intentos Restantes = {{ intentos }}</ion-card-title>
      </ion-card-content>


  
      <ion-button [routerLink]="'/tabs/home'">volver al home</ion-button>
      
    </ion-card>
  </div>

  

</ion-content>
