@font-face {
    font-family: 'EasyOpenFace';
    src: url(/hs/src/assets/fonts/EasyOpenFace.ttf)format('truetype');

}
#menu{ font-family: EasyOpenFace;
font-size: xx-large;
font-weight: bold;}