<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Ingredientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Campo de entrada para el término de búsqueda -->
  <ion-item>
    
    <ion-input [(ngModel)]="searchTerm" placeholder="Ej. tomate" label="Ingrese un ingrediente" labelPlacement="floating"></ion-input>
  </ion-item>
  
  <!-- Botón para buscar ingredientes -->
  <ion-button expand="full" (click)="searchIngredients()">Buscar Ingredientes</ion-button>

  <!-- Lista de ingredientes obtenidos de la API -->
  
    <ion-list *ngIf="ingredients.length > 0; else noIngredients">
    <ion-item *ngFor="let ingredient of ingredients">
      <ion-label>
        {{ ingredient.name }}
      </ion-label>
      <!-- Campo de entrada para cantidad -->
      <ion-input 
        type="number"
        min="1"
        [(ngModel)]="quantities[ingredient.id]"
        placeholder="Cantidad"
        (ionInput)="updateQuantity(ingredient.id, $event.target.value)"
        style="font-size: smaller;"
        label="Ingrese una cantidad" 
        labelPlacement="floating">
      </ion-input>
      <ion-button (click)="addToMiLista(ingredient)" fill="outline" color="primary">
        Agregar a mi Lista
      </ion-button>
    </ion-item>
  </ion-list>

  

  <!-- Mostrar si no hay ingredientes -->
  <ng-template #noIngredients>
    <p>No se encontraron ingredientes o no ha realizado una búsqueda.</p>
  </ng-template>

  <!-- Lista de ingredientes seleccionados por el usuario -->
  <ion-card style="margin-bottom: 50px;">
    <ion-card-header>
      <ion-card-title>Mi Lista de Ingredientes</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of miLista">
        <ion-label>
          {{ item.ingredient.name }} - Cantidad: {{ item.cantidad }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
