<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="armas">
      <ion-icon name="eyedrop-outline"></ion-icon>
      Armas
    </ion-tab-button>
    <ion-tab-button tab="agentes">
      <ion-icon name="people-outline"></ion-icon>
      Agentes
    </ion-tab-button>
    <ion-tab-button tab="mapas">
      <ion-icon name="map-outline"></ion-icon>
      Mapas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>