<ion-header>
  <ion-toolbar>
    <!-- Botón para regresar -->
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Título -->
    <ion-title>Skins</ion-title>
  </ion-toolbar>
</ion-header>


<div *ngIf="isLoading" class="loading-overlay">
  <img src="../../../assets/imgs/loadinggif.gif" alt="">
</div>


<ion-content *ngIf="!isLoading">
  <div class="fondo" >
  <ion-card class="skin-card" *ngFor="let skin of skins" >
    <ion-card-title *ngIf="skin.displayIcon != null">{{ skin.displayName }}</ion-card-title>
    <img [src]="skin.displayIcon" *ngIf="skin.displayIcon" /> 
  </ion-card>
</div>
</ion-content>
