<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" >
    <ion-card class="ion-padding" style="background-color: #534940; color: #efefef; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <ion-card-title style="color: #d4ad86; font-size: 1.2em;">CONSEJO</ion-card-title>
        <ion-card-content style="color: #efefef; font-size: 1.1em;">
        {{consejoAleatorio}}
        </ion-card-content>
    </ion-card>
    <ion-button [routerLink]="'/game'">MINIJUEGO</ion-button>
</ion-content>


