ion-card, ion-content, ion-item{
    --background: #1C1C1C;
    text-align: center;
}

ion-header{
    text-align: center;
}

ion-content{
    
}

ion-card-title{
    color: #FFA500;
    
}

ion-card-content{
    color: #CCCCCC;
}
.button{
    margin-bottom: 20px;
    --background: #FF4655;
}