<app-header title="Minijuego"></app-header>



<ng-template #noAgents>
  <p>No se encontraron agentes.</p>
</ng-template>

<ion-content class="ion-padding" >



<div class="game-container" >
  <ion-card *ngIf="currentAgent" class="agent-card">
    <ion-card-header>
      <ion-card-title >Adivina el agente</ion-card-title>  
    </ion-card-header>
    <div class="img-container" >
      <img 
        [src]="currentAgent.fullPortrait" 
        alt="Agente oculto" 
        [class.hidden]="!currentAgent.isGuessed" 
        class="agent-img" 
      />
    </div>

    <ion-item>
      <ion-input 
        placeholder="Escribe el nombre del agente" 
        [(ngModel)]="userGuess" class="inputAgente">
      </ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="checkGuess()">
      Verificar
    </ion-button>
  </ion-card>
</div>

<ion-text *ngIf="message" color="primary">
  <p>{{ message }}</p>
</ion-text>

<div><h1 class="racha">Racha : {{racha}}</h1></div>


</ion-content>
