<ion-header>
  <ion-toolbar style="--background: #674a38;">
    <ion-title style="color: #d4ad86; font-weight: bold;">Bienvenido {{login.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background: #efefef;">
  <h1 style="text-align: center; color: #efefef; font-size: 2em; margin: 20px 0;">Inventario</h1>


  <div class="button-group" style="justify-content: center; padding: 0 20px;">
    <ion-button [routerLink]="['/food']" shape="round" expand="block" style="--background: #986a46; --color: #efefef; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ion-label>Comida</ion-label>
    </ion-button>
    
    <ion-button shape="round" expand="block" style="--background: #986a46; --color: #efefef; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ion-label>Higiene</ion-label>
    </ion-button>
  </div>

  <div style="display: flex; justify-content: center; margin: 20px;">
    <ion-button [routerLink]="['/ropa']" style="--background: #986a46;">
      <ion-icon name="shirt-outline" style="color: #efefef; font-size: 100px;"></ion-icon>
    </ion-button>
  </div>

  <div style="display: flex; justify-content: center; margin: 20px;">
    <ion-button  shape="round" style="--background: #986a46; --color: #efefef; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      Añadir Item
    </ion-button>
  </div>

  <ion-card class="ion-padding" style="background-color: #534940; color: #efefef; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ion-card-title style="color: #d4ad86; font-size: 1.2em;">FRASE DE HOY</ion-card-title>
    <ion-card-content style="color: #efefef; font-size: 1.1em;">
      {{fraseAleatoria}}
    </ion-card-content>
  </ion-card>
</ion-content>
