@font-face {
  font-family: 'EasyOpenFace';
  src: url(/hs/src/assets/fonts/EasyOpenFace.ttf)format('truetype');

}
#menu{ font-family: EasyOpenFace;
font-size: x-large;
font-weight: bold;}

.button-group {
  display: flex; /* Hacer el contenedor de los botones flexible */
  justify-content: space-between; /* Espacio entre los botones */
  gap: 4px; /* Espacio entre los botones, puedes ajustar el valor */
}

.button-group ion-button {
  flex: 1; /* Permitir que los botones se expandan de manera uniforme */
  max-width: 47%; /* Limitar el ancho máximo de los botones */
}
ion-icon {
  font-size: 50px;
  color: #ffffff;
}
