<ion-header>
  <ion-toolbar>
    <ion-title>Skins</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <ion-card class="skin-card" *ngFor="let skin of skins" >
    <ion-card-title *ngIf="skin.displayIcon != null">{{ skin.displayName }}</ion-card-title>
    <img [src]="skin.displayIcon" *ngIf="skin.displayIcon" /> 
  </ion-card>
</div>
</ion-content>
